<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logStamp" value="${time} ${pad:padding=-8:inner=[${level:uppercase=true}]}" />
  <variable name="logContent" value="${message:withException=true}"/>
  <variable name="defaultLayout" value="${var:logStamp} ${logger:shortName=true}: ${var:logContent}" />

  <include file="NLog-user.config"/>
  
  <targets async="true">
    <target xsi:type="Null"           name="null"    formatMessage="false" />
    <target xsi:type="File"           name="keen"    layout="${defaultLayout}"       fileName="Logs\Keen-${shortdate}.log"  />
    <target xsi:type="File"           name="main"    layout="${defaultLayout}"       fileName="Logs\Torch-${shortdate}.log" />
    <target xsi:type="File"           name="chat"    layout="${longdate} ${message}" fileName="Logs\Chat.log" />
    <target xsi:type="ColoredConsole" name="console" layout="${defaultLayout}" />
    <target xsi:type="File"           name="patch"   layout="${var:logContent}"      fileName="Logs\patch.log" />
    <target xsi:type="FlowDocument"   name="wpf"     layout="${defaultLayout}" />
  </targets>

  <rules>
    <!-- Do not define custom rules here. Use NLog-user.config -->
    <logger name="Keen" writeTo="main"               minlevel="Warn" />
    <logger name="Keen" writeTo="console, wpf"       minlevel="Info" />
    <logger name="Keen" writeTo="keen" final="true"  minlevel="Debug" />
    <logger name="Keen" writeTo="null" final="true" />

    <logger name="*"    writeTo="main, console, wpf" minlevel="Info"/>
    <logger name="Chat" writeTo="chat"               minlevel="Info"/>
    <!--<logger name="Torch.Managers.PatchManager.*" minlevel="Trace" writeTo="patch"/>-->
  </rules>
</nlog>